.fade-in {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}
.bgNotFull {
  background-image: url("/src/assets/full.png");
  background-repeat: no-repeat;
}
.bgFull {
  background-image: url("/src/assets/isfull.png");
  background-repeat: no-repeat;
}
